*{
    font-family:'Courier New', Courier, monospace;
    font-size:18px;
    text-align:center;
    color:orange;
    font-weight: bolder;
}
.container {
    margin: 0 auto;
}
.main-section {
    margin-top: 100px;
}
.navbar-default {
    background-color: #ffa500;
    border-color: #ffa500;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #ffa500;
}
.jumbotron {
    margin-top: 100px;
}

.footer .text-muted {
    color: #fff;
    margin-top: 15px;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.profile-description h4 {
    font-weight: 700;
    font-size: 24px;
}
.profile-description p {
    font-size: 18px;
}